<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/DestinyStats.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


@page "/"

<div class="frame">

    <div class="background">

        <div class="titleSection>">
            <img src="/css/Images/destiny2Logo.png" alt="destiny-2-logo" class="destiny2Logo" />
            <div class="statisticsTitle">Statistics</div>
        </div>

        <div class="searchSection">
            <div class="usernameTitle">Username:</div>
            <input class="usernameEntry"/>

            <div class="platformTitle">Platform:</div>
            <input class="platformEntry"/>

                <img class="searchButton" src="/css/Images/seachIcon.png"/>
        </div>
        
        <div class="statsSection">

            <div class="miscSection whiteBG">
                <div class="miscTitle">Miscellaneous</div>
                <table class="miscTable">
                    <tr>
                        <td>Suicides</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Gambit Invasions</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Avg Kill Distance</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Avg Lifespan</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Heroic Public Events</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Highest Light Level</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Adventures Completed</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Revives Performed</td>
                        <td>EMPTY</td>
                    </tr>
                    <tr>
                        <td>Revives Received</td>
                        <td>EMPTY</td>
                    </tr>
                </table>
            </div>

            <div class="pveSection whiteBG">
                <div class="pveTitle">PVE</div>

                <div class="multiTable">
                    <table class="pveTableLeft">
                        <tr>
                            <td>Activities Cleared</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Deaths</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Assists</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Precision Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Orbs Gathered</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Orbs Dropped</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Avg Lifespan</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Best Single Game Kills</td>
                            <td>EMPTY</td>
                        </tr>
                    </table>

                    <table class="pveTableRight">
                        <tr>
                            <td>Super Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Ability Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Melee Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Grenade Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Hand Cannon Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Auto-Rifle Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Sword Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Shotgun Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Sniper Kills</td>
                            <td>EMPTY</td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="pvpSection whiteBG">
                <div class="pvpTitle">PVP</div>

                <div class="multiTable">
                    <table class="pvpTableLeft">
                        <tr>
                            <td>Activities Cleared</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Deaths</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Assists</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Precision Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Orbs Gathered</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Orbs Dropped</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Avg Lifespan</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Best Single Game Kills</td>
                            <td>EMPTY</td>
                        </tr>
                    </table>

                    <table class="pvpTableRight">
                        <tr>
                            <td>Super Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Ability Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Melee Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Grenade Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Hand Cannon Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Auto-Rifle Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Sword Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Shotgun Kills</td>
                            <td>EMPTY</td>
                        </tr>
                        <tr>
                            <td>Sniper Kills</td>
                            <td>EMPTY</td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

@code {

}
