@using DestinyProjectApp.Models
@using DestinyProjectApp.Services
@using System.Text.Json
@page "/Search"
@inject DestinyApiHelper _apihelper

<h1>Get Stats</h1>

<input @bind="globalNamePrefix" />
<button class="btn btn-primary" @onclick="SearchUser">
    Search
</button>

<p>@result</p>
@if(statsResults != null)
{
    <p>@statsResults.Response.allPvE.allTime.activitiesCleared.basic.displayValue</p>
}







@code {

    private Root statsResults;
 

    private string globalNamePrefix;
    private int page;
    private string result;

    private string result2;
    long characterID;
    long membershipid;
    int membershipType;


    private async Task GetStats(){
        try{
            statsResults = await _apihelper.StatsSearch(0, membershipid, 1);
            
        }
        catch(HttpRequestException ex){
            result = "error";
        }
    }

    private async Task SearchUser()
    {
        try
        {
            membershipid = await _apihelper.SearchByGlobalNamePost(globalNamePrefix, page);
            await GetStats(); // Call GetStats with the extracted membershipid
        }
        catch (HttpRequestException ex)
        {
            result = $"An error occurred: {ex.Message}";
        }
        catch (JsonException ex)
        {
            result = $"An error occurred while parsing the response: {ex.Message}";
        }
    }
}
  





