@using DestinyProjectApp.Services
@page "/Search"
@inject DestinyApiHelper _apihelper

<h3>SearchUser</h3>




<button class="btn btn-primary" @onclick="SearchUser">
    Search
</button>

<p>@result</p>



<h1>Get Stats for user</h1>


<input @bind="characterID" type="number"/>
<input @bind="membershipID" />
<input @bind="membershipType" type="number" />

<button class="btn btn-primary" @onclick="GetStats">
    Get Stats
</button>

<p>@result2</p>

@code {
    private string globalNamePrefix;
    private int page;
    private string result;

    private string result2;
    long characterID;
    long membershipID;
    int membershipType;


    private async Task GetStats(){
        try{
            result2 = await _apihelper.StatsSearch(characterID, membershipID, membershipType);
        }
        catch(HttpRequestException ex){
            result2 = "error";
        }
    }

     private async Task SearchUser()
    {
        try
        {
            var searchResult = await _apihelper.SearchByGlobalNamePost(globalNamePrefix, page);
           
        }
        catch (HttpRequestException ex)
        {
            result = $"An error occurred: {ex.Message}";
        }
    }




}
