html {
    background-color: black;
}

main {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    
}

input {
    font-family: Inter;
    font-size: 18px;
    letter-spacing: 5px;
}

.frame {
    width: 100%;
    height: 100%;
}

.whiteBG {
    background-color: white;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.titleSection {
    display: flex;
    flex-direction: column;

}

.destiny2Logo {
    width: 960px;
    height: 148px;
    margin-left: -25px;
}

.statisticsTitle {
    margin-left: 10px;
    margin-top: -20px;
    color: #FFF;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 27.36px;
}

.searchSection {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: flex-end;
    gap: 30px;
}

.usernameTitle {
    color: #FFF;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
    margin-right: -30px;
}

.usernameEntry {

}

.platformTitle {
    color: #FFF;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
    margin-right: -30px;
}

.platformEntry {

}

.searchButton {
    width: 43px;
    height: 43px;
    padding-right: 7px;
    padding-top: 7px;
}

.searchButton:hover {
    opacity: 80%;
    cursor: pointer;
}

.statsSection {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    background-image: url(Images/statsSection4KBG.png);
    flex-direction: row;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 20px;
    gap: 150px;
    flex-wrap: wrap;
}

.miscSection {
    padding: 20px;
    width: 375px;
    height: 540px;
    flex-shrink: 0;
    flex-direction: column;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.miscTitle {
    padding: 20px 64px 0px 0px;
    color: #000;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
}

.miscTable {
    width: 328px;
    height: 442px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

    .miscTable tr {
        border-bottom: 1px solid black;
    }

    .miscTable tr:last-child {
        border-bottom: 0px solid white;
    }

    .miscTable td {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

.multiTable {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pveSection {
    margin-right: -45px;
    padding: 20px;
    width: 569px;
    height: 540px;
    flex-shrink: 0;
    flex-direction: column;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

    .pveSection table tr {
        border-bottom: 1px solid black;
    }

    .pveTableLeft tr:last-child {
        border-bottom: 0px solid white;
    }

    .pveTableRight tr:last-child {
        border-bottom: 0px solid white;
    }

.pveTitle {
    padding: 20px 64px 0px 0px;
    color: #000;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
}

.pveTableLeft {
    width: 300px;
    height: 442px;
}

    .pveTableLeft td {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

.pveTableRight {
    width: 300px;
    height: 442px;
}

    .pveTableRight td {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

.pvpSection {
    padding: 20px;
    width: 569px;
    height: 540px;
    flex-shrink: 0;
    flex-direction: column;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

    .pvpSection table tr {
        border-bottom: 1px solid black;
    }

    .pvpTableLeft tr:last-child {
        border-bottom: 0px solid white;
    }

    .pvpTableRight tr:last-child {
        border-bottom: 0px solid white;
    }

.pvpTitle {
    padding: 20px 64px 0px 0px;
    color: #000;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
}

.pvpTableLeft {
    width: 300px;
    height: 442px;
}

    .pvpTableLeft td {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

.pvpTableRight {
    width: 300px;
    height: 442px;
}

    .pvpTableRight td {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

@media only screen and (max-width: 1000px) {

    article {
        width: 100%;
        height: 100%;
    }

    .page {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
    }

    .frame {
        width: 100%;
        height: 100%;
    }

    main {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }

    html {
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .mainContainer {
        width: 95%;
    }

    .titleSection {
        height: 100%;
        width: 100%;
    }

    .destiny2Logo {
        width: 80%;
        height: 80%;
        margin: 0px;
        padding-top: 4%;
        padding-left: 4%;
    }

    select {
        height: 33px;
    }

    .statisticsTitle {
        font-size: 24px;
        letter-spacing: 10px;
        padding-top: 4%;
        padding-left: 4%;
        margin-bottom: 20%;
    }

    .statsSection {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 5%;
        padding-bottom: 5%;
        
    }

    .searchSection {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    .usernameEntry .usernameTitle {
        font-size: 22px;
    }

    .multiTable {
        width: 100%;
    }

    .pveTableLeft {
        width: 50%;
    }

    .pveTableRight {
        width: 50%;
    }

    .pvpTableLeft {
        width: 50%;
    }

    .pvpTableRight {
        width: 50%;
    }

    .pveSection {
        padding: 20px;
        width: 100%;
        flex-shrink: 0;
        flex-direction: column;
        background: #D9D9D9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .pvpSection {
        padding: 20px;
        width: 100%; 
        flex-shrink: 0;
        flex-direction: column;
        background: #D9D9D9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    }

    .miscTable {
        width: 100%;
    }

    .miscSection {
        width: 100%;
    }

    .pveTableRight td {
        font-size: 10px;
    }

    .pvpTableLeft td {
        font-size: 10px;
    }

    .pveTableLeft td {
        font-size: 10px;
    }

    .pvpTableRight td {
        font-size: 10px;
    }

}